*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{
    background: linear-gradient(to bottom right, #ccf6c8 0%, #f9c0c0 100%);
}

.fondo{
    width: 600px;
    background: #f6d6ad;
    padding: 30px;
    margin: auto;
    margin-top: 20px;
    border-radius: 2px;
    font-family: 'calibri';
    color: #ff9a76(0, 0, 0);
    box-shadow: 7px 13px 37px #931a25;
} 
.titulo{
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    margin-bottom: 20px;
    color: black;
}
.datos{
    font-size: 17px;
    text-align: center;
    font-family: cursive;
    color: black;
}
.seleccionar{
    font-size: 17px;
    text-align: center;
    font-family: cursive;
    color: black;
}
.sele{
    width: 70%;
    background: #ffbb91;
    padding: 9px;
    border-radius: 30px;
    margin-left: 13%;
    margin-bottom: 10px;
    border: 1px solid #000000;
    color: black;
    font-family: 'calibri';
    font-size: 19px;
}
.condiciones{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}
.fondo a:hover {
    color: #7d0633;
    text-decoration: underline;
}
.enviar .buttoms{
    font-family: 'Courier New', Courier, monospace;
    width: 45%;
    background: #ffbb91;
    border: none;
    padding: 12px;
    color: black;
    margin: 12px 2px;
}
